<div class="post about">
<h5>About Me</h5>

<p>I am a socially-aware hacker who is passionate about web development, cybersecurity, privacy, activism, mental health awareness, and intersectional feminism. I am a proponent of diversity and inclusivity in the technology industry and elsewhere, and believe that social progress is just as important as technological progress.</p>

<p>I am currently in the Honours Computer Science Co-op program at the University of Waterloo, and will be entering my 2B term in the spring of 2015. I hope to never stop learning, and to use my knowledge to make a meaningful difference in the lives of others, especially those who are less privileged.</p>

<p>I love meeting new people and having unique discussions. Please don't hesitate to <a href="mailto:joeyrrideout@gmail.com">contact me</a> and ask me anything, provide feedback, or just say hi!</p>
</div>
<a class="anchor" name="blog"></a>
