<div class="row about">
  <div class="eight columns offset-by-two">
    <h3>About Me</h3>
    <p>
      I am a hacker who is passionate about web development, 
      cybersecurity, artificial intelligence, mental health awareness, and 
      intersectional feminism. I am a proponent of diversity and inclusivity 
      in the technology industry and elsewhere, and believe that social 
      progress is just as important as technological progress.
    </p>
    <p>
      I am currently in the Honours Computer Science Co-op program at the 
      University of Waterloo, and will be entering my 3A term in the fall of 
      2016. I hope to never stop learning, and to use my knowledge to make a 
      meaningful difference in the lives of others.
    </p>
    <p>
      I love meeting new people and having unique discussions. Please don't 
      hesitate to <a href="mailto:joeyrrideout@gmail.com">get in touch</a> and 
      ask me anything, provide feedback, or just say hi!
    </p>
  </div>
</div>
