<div class="row about">
  <div class="eight columns offset-by-two">
    <h3>Freelancing</h3>
    <p>
      I do comprehensive freelance web application development in my spare
      time. You can <a href="http://goo.gl/forms/G0dAam40sg">hire me</a>
      and stop spending time looking for someone to build your next website.
      I will respond to your inquiry with a free quote, so ask away!
    </p>
    <p>
      For your convenience, I'll take care of every technical aspect so that you
      can get back to work. For a one-time fee of $99, you could have a personal
      landing page like this one!
    <p>
      <a class="button button-primary" href="http://goo.gl/forms/G0dAam40sg">Inquire</a>
    </p>
  </div>
</div>
