<div class="row about">
  <div class="eight columns offset-by-two">
    <h3>Freelancing</h3>
    <p>
      I do comprehensive freelance web application development in my spare 
      time. Hire me for your next web project, and I'll take care of every 
      technical aspect - design, development, domain registration, 
      web hosting, security, and deployment - all at a competitive rate.
    </p>
    <p>
      If you are a small non-profit organization working towards positive 
      change, my services are free of charge.
    <p>
    <p><a href="mailto:joeyrrideout@gmail.com">Contact me</a> for details.</p>
  </div>
</div>
