<div class="row about">
  <div class="eight columns offset-by-two">
    <h3>Freelancing</h3>
    <p>
      I do comprehensive freelance web application development in my spare
      time. You can
      <a href="mailto:joeyrrideout@gmail.com">
        contact me at joeyrrideout@gmail.com
      </a>
      and stop spending time looking for someone to build your next website, but
      you are free to look elsewhere. I will respond to your inquiry with some
      free design advice and pictures of puppies, so ask away!
    </p>
    <p>
      For your convenience, I'll take care of every technical aspect so that you
      can get back to work. Let me handle design, development, domain
      registration, web hosting, security, deployment, maintenance, and
      additional puppy pictures - all at an honest, competitive rate. A simple
      landing page like this one would only run you $99.
    </p>
  </div>
</div>
