<div class="row about">
  <div class="eight columns offset-by-two">
    <h3>Notes</h3>
    <a name="notes"></a>
    <p>
      I like to type detailed notes in each of my classes as much as possible,
      and upload them for my classmates to view and study from.
    </p>
    <p>
      Complete:
      <a href="https://github.com/joeyrideout/notes/tree/master/cs246">CS 246</a>
      <a href="https://github.com/joeyrideout/notes/tree/master/cs241">CS 241</a>,
      <a href="https://github.com/joeyrideout/notes/tree/master/psych101">PSYCH 101</a>,
    </p>
    <p>
      In progress:
      <a href="https://github.com/joeyrideout/notes/tree/master/intst101">INTST 101</a>,
      <a href="https://github.com/joeyrideout/notes/tree/master/cs240">CS 240</a>,
      <a href="https://github.com/joeyrideout/notes/tree/master/cs251">CS 251</a>
    </p>
  </div>
</div>
