<!-- Portfolio Grid Section -->
    <section>
  <div class="text-center guide-context">
      <h1>Trends</h1>
      <p class="guide-detail">A free collection of Information Security risk
      trends, created by applying financial analysis techniques to the world of
      vulnerability information.</p>
</div>
        <div class="bootstrap-iso">
            <div class="col-md-1"></div>
            <div class="col-md-10 centered">
                <section class="portfolio">
                    <div class="row">
                        {% for item in site.guides %}
                        <div class="col-xl-1 col-lg-3 col-md-6 portfolio-item">
                            <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
                                <div class="caption" title="{{ item.title }}">
                                    <div class="caption-content">
                                        <p>{{ item.title }}</p>
                                    </div>
                                </div>
                                <img src="{{ site.baseurl }}/{{ item.img }}" class="" alt="">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>    
            <div class="col-md-1"></div>
  <div class="text-center guide-context">
	<p class="guide-footer">These trends are
        <a href="https://github.com/joeyrideout/joeyrideout.github.io">open source</a>.
        </div>
</div>
    </section>
