.bootstrap-iso {
    text-align: center;
}
.portfolio * {
    display: inline-block;
    z-index: 2;
    img {
        padding: 0 0;
        margin: 0 0;
    }

    .portfolio-item {
        right: 0;
        margin: 0 0 15px;

        @media(min-width: 767px) {
            margin: 0 0 30px;
        }

        .portfolio-link {
            display: block;
            position: relative;
            margin: 0 auto;
            max-width: 400px;

            .caption {
                margin: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: $navy-transparent;
                // background: $link-shadow;
                //-webkit-transition: all ease .5s;
                //-moz-transition: all ease .5s;
                //transition: all ease .5s;
                //font: 0/0 a;

                &:hover {
                    background-color: rgba( $navy, .5 );
                    text-shadow: 0px 0px 4px rgb(29,46,59);
                }
                .caption-content {
                    &::before {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                    }
                    text-shadow: 0px 0px 2px #000000;
                    text-transform: uppercase;
                    color: #fff;
                    // margin: auto;
                    // text-align: center;
		    text-size: 20px;
                    display: inline-block;
                    //vertical-align: middle;
                    max-width: 90%;
                    // min-height: 100%;
                    // margin-left: 10%;
                    // margin-top: 15%;

                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
    }
}

/* --- Responsive --- */

/*
@media screen and (min-width: $xs-break) {
    .portfolio {
        .caption-content {
            p {
            font-size: 14px;
            }
        }
    }
}*/
@media screen and (max-width: $sm-break) {
    .portfolio {
        .caption-content {
            p {
            font-size: 34px;
            }
        }
    }
}

@media screen and (min-width: $sm-break) {
    .portfolio {
        .caption-content {
            p {
            font-size: 36px;
            }
        }
    }
}


@media screen and (min-width: $md-break) {
    .portfolio {
        .caption-content {
            p {
            font-size: 32px;
            }
        }
    }
}
@media screen and (min-width: $lg-break) {
    .portfolio {
        .caption-content {
            p {
            font-size: 22px;
            }
        }
    }
}

@media screen and (min-width: $xl-break) {
    .portfolio {
        .caption-content {
            p {
            font-size: 24px;
            }
        }
    }
}
