---
layout: default
---

<div class="home">
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
     <h2>Hi, I'm Joey.</h2>
     <h3>I promote security awareness and research security incidents in the cryptocurrency space.</h3>
     <p class="bio-link"><a href="/about/">(My full bio.)</a></p>
  </div>
  </div>

  {% include guides.html %}

<section>
<div class="row horizontal-line">
  <div class="posts">
    <h1 class="text-center">Blog</h1>
    <p class="text-center">Insight into security incidents and trends in the cryptocurrency space, new guides, and more.</p>
    {% for post in paginator.posts %}
    <div class="post-teaser">
      {% if post.thumbnail %} 
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h2>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
            {{ post.content | strip_html | truncate: "250" }}
            <!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
</div>
</section>
